/* Propongo palette di colori */

$light-blue: #A2D5F2;
$hard-blue: #759aaf;
$navy-blue: #005792;
$mint-green: #A8E6CF;
$aqua-green: #76C7C0;
$light-gray: #E8E8E8;
$dark-grey: #6B6B6B;
$pure-white: #FFFFFF;
$soft-pink: #F7CAC9;
$rose: #c9a8a8;
$deluxe: #f8b34b;
$deluxe-hover: #f3c47d;
$deluxe-shadow: #ffe0b0;
$warm-grey: #D9DBDF;