@import '~bootstrap/scss/bootstrap';
@import 'generals/variables.scss';
@import 'partials/create.scss';
@import 'partials/show.scss';
@import 'partials/header.scss';
@import 'partials/welcome.scss';
@import 'partials/edit.scss';
@import 'partials/messages.scss';
@import 'partials/sponsors-packages';
@import 'partials/stats.scss';
@import 'partials/braintree.scss';
@import 'partials/dashboard.scss';


// FONT //

// Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: $warm-grey;
}

.bg-warm-grey {
    background-color: $warm-grey;

}

.bg-light-grey {
    background-color: $light-gray;

}

.create-edit-welcome {
    background-color: $light-gray;
    margin: 0 auto;
    max-width: fit-content;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px $dark-grey;
}

// bottoni
.save,
.back,
.deluxe-button,
.button-home {
    color: $pure-white;
    border: none;
    border-radius: 8px;
    box-shadow: 2px 2px 5px $dark-grey;
    padding: 10px 12px;
    transition: background-color 0.3s, transform 0.1s, box-shadow 0.1s;

    &:active {
        box-shadow: 1px 1px 3px $dark-grey;
        transform: translateY(2px);
    }
}

.save {
    letter-spacing: 1px;
    background-color: $navy-blue;

    &:hover {
        background-color: $aqua-green;
    }

    &:active {
        background-color: $navy-blue;
    }
}

.back {
    background-color: $dark-grey;
    color: $pure-white;

    &:hover {
        background-color: $light-gray;
        color: $navy-blue;
    }

    &:active {
        background-color: $dark-grey;
        color: $pure-white;
    }
}

.deluxe-button {
    letter-spacing: 1px;
    background-color: $deluxe;

    &:hover {
        background-color: $deluxe-hover;
    }

    &:active {
        background-color: $deluxe;
    }
}

.button-home {
    letter-spacing: 1px;
    background-color: $aqua-green;
    box-shadow: 2px 2px 0 $pure-white;

    &:hover {
        background-color: $mint-green;
        box-shadow: 1px 1px 0 $pure-white;
    }

    &:active {
        background-color: $aqua-green;
    }
}