@import '~bootstrap/scss/bootstrap';
@import 'generals/variables.scss';
@import 'partials/create.scss';
@import 'partials/show.scss';
@import 'partials/header.scss';
@import 'partials/welcome.scss';
@import 'partials/edit.scss';
@import 'partials/messages.scss';

// FONT //

// Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

// bottoni
.save,
.back {
    color: $pure-white;
    border: none;
    border-radius: 8px;
    box-shadow: 2px 2px 5px $dark-grey;
    padding: 10px 12px;
    transition: background-color 0.3s, transform 0.1s, box-shadow 0.1s;

    &:active {
        box-shadow: 1px 1px 3px $dark-grey;
        transform: translateY(2px);
    }
}

.save {
    letter-spacing: 1px;
    background-color: $navy-blue;

    &:hover {
        background-color: $aqua-green;
    }

    &:active {
        background-color: $navy-blue;
    }
}

.back {
    background-color: $dark-grey;
    color: $pure-white;

    &:hover {
        background-color: $light-gray;
        color: $navy-blue;
    }

    &:active {
        background-color: $dark-grey;
        color: $pure-white;
    }
}