form {
    .save, .fields_select {
        background-color: $navy-blue;
        color: $pure-white;
        border: none;
        border-radius: 8px;
        box-shadow: 2px 2px 5px $dark-grey;
        transition: background-color 0.3s, transform 0.1s, box-shadow 0.1s;
        &:hover {
            background-color: $aqua-green;
        }
        &:active {
            background-color: $navy-blue;
            box-shadow: 1px 1px 3px $dark-grey;
            transform: translateY(2px);
        }
    }
    .save {
        padding: 10px 12px;
        letter-spacing: 1px;
    }
    .fields_select {
        padding: 8px 10px;
    }
}

.selected_fields {
    border: 1px dotted black;
    width: fit-content;
    padding: 20px;
    display: none;
}