.bg-dashboard {
    background-color: $light-gray;
    box-shadow: 2px 2px 3px $dark-grey;
}

.countdown-color {
    color: $navy-blue;
    letter-spacing: 1px;
    font-weight: bolder;
    text-shadow: 2px 2px 3px $dark-grey;
}