.dashboard-personal-style {
    color: $navy-blue;
    font-weight: 700;
}

.countdown-color, .avg-dashboard-color {
    color: $navy-blue;
    letter-spacing: 1px;
    font-weight: bolder;
}

.bg-dashboard {
    background-color: $light-gray;
    box-shadow: 2px 2px 3px $dark-grey;
}

.dashboard-sections {
    min-height: 170px;
}

.titles-dashboard {
    color: $navy-blue;
}

.dashboard-icons {
    color: $aqua-green;   
}

@media screen and (max-width: 991px) {
    .dashboard-personal-style {
        font-size: 28px;
    }
}

@media screen and (max-width: 991px) {
    .dashboard-personal-style {
        font-size: 26px;
    }
}

@media screen and (max-width: 615px) {
    .dashboard-personal-style {
        font-size: 22px;
    }
}